body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
  text-align: left;
}

.btn{
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: black;
  border-radius: 4rem;
  font-size: 1.6rem;
  color: cyan;
  letter-spacing: 0.3rem;
  font-weight: 600;
  border: 2px solid cyan;
  transition: 0.3s ease;
  cursor: pointer;
}

.navbar {
  background: #62308d;
  padding: 15px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 15px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
a {
  color:purple;
}
