.title {
    color: green;
}

body {
	text-align: center;
}

button {
	width:400px;
	font-size:75px;
}

h1 {
	font-size: 100px;
}

#buttonDiv, #cookieDiv {
	font-style: italic;
	font-size:30px;
}
#cookie {
	width:300px;
}

.citation {
	font-size:12px;
	font-style:italic;
}

.citationColor {
	color: black;
}
