.title {
    	color: green;
	font-size: 100px;
}

body {
	text-align: center;
}

button {
	width:400px;
	font-size:75px;
}

#buttonDiv, #cookieDiv {
	font-style: italic;
	font-size:30px;
}

#cookie {
	width:300px;
}

#clearButton {
	background-color:red;
	color: white;
	font-size:12px;
	width:auto;
	border-radius: 12px;
}

.citation {
	font-size:12px;
	font-style:italic;
}

.citationColor {
	color: black;
}

.noBullet {
	list-style-type: none; 
}
